.reliability_grid{
	display: grid;
	gap:65px;
	padding-bottom: 70px;
}

@media (max-width: 1300px){
	.reliability_grid{
		gap:32px;
	}
}

@media (max-width: 980px){
	.reliability_grid{
		gap:86px;
	}
	
}

@media (max-width: 768px){
	.reliability_grid{
		gap:40px;
		padding-bottom: 60px;
	}

}

@media (max-width: 568px){
	.reliability_grid{
		gap:20px;
		padding-bottom: 45px;
	}

}

@media (max-width: 320px){
	.reliability_grid{
		gap:15px;
		padding-bottom: 30px;
	}

}
