
.adjustment__content_padding{
	padding-top: 130px;
	padding-bottom: 188px;
}

.adjustment__description_padding{
	padding-bottom: 90px;
}

.adjustment__cards{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:39px;
}

.adjustment__card{
	position: relative;
	height: 680px;
}

.adjustment__card:nth-child(1){
	background:
		url("../images/adjustment/bg_1.webp") center center/cover no-repeat;
}
.adjustment__card:nth-child(2){
	background:
		url("../images/adjustment/bg_2.webp") center center/cover no-repeat;
}
.adjustment__card:nth-child(3){
	background:
		url("../images/adjustment/bg_3.webp") center center/cover no-repeat;
}

.adjustment__card-content{
	display: flex;
	flex-direction: column;
	gap:15px;
	justify-items: center;
	color: white;
	text-align: center;
	padding: 25px 50px 0;
}

.adjustment__card-title{
	text-transform: uppercase;
	font-size: clamp(18px, 1.5vw, 32px);
}

.adjustment__card:nth-child(2) .adjustment__card-content{
	position: absolute;
	bottom:40px;
}

.adjustment__card:nth-child(odd) .adjustment__card-image{
	position: absolute;
	height: 45%;
	bottom: 0;
	left: 0;
	right: 0;
}
.adjustment__card:nth-child(even) .adjustment__card-image{
	position: absolute;
	height: 45%;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 23px
}

.adjustment__card-image{
	display: grid;
	place-items: center;
}

@media (max-width: 1300px){
	
	.adjustment__card{
		height: 508px;
	}
	
	.adjustment__content_padding{
		padding-top: 97px;
		padding-bottom: 188px;
	}
	
	.adjustment__description_padding{
		padding-bottom: 140px;
	}
	
	.adjustment__cards{
		gap:30px;
	}
	
	.adjustment__card-content{
		gap:6px;
		padding: 20px 30px 0;
	}
	
}

@media (max-width: 980px){
	
	.adjustment__card{
		height: 407px;
	}
	
	.adjustment__content_padding{
		padding-top: 75px;
		padding-bottom: 140px;
	}
	
	
	.adjustment__description_padding{
		padding-bottom: 44px;
	}
	
	.adjustment__cards{
		gap:22px;
	}
	
	.adjustment__card-content{
		gap:0;
		padding: 10px 10px 0;
	}
	
	.adjustment__card:nth-child(2) .adjustment__card-content{
		position: absolute;
		bottom:12px;
	}
}

@media (max-width: 768px){
	
	
	.adjustment__content_padding{
		padding-top: 90px;
		padding-bottom: 58px;
	}
	
	
	.adjustment__description_padding{
		padding-bottom: 38px;
	}
	
	.adjustment__cards{
		display: grid;
		grid-template-columns: 1fr;
		gap:23px;
	}
	
	.adjustment__card{
		height: 165px;
	}
	
	.adjustment__card:nth-child(n){
		background:
			url("../images/adjustment/bg_gorizont.webp") center center/cover no-repeat;
	}
	.adjustment__card-content{
	  position: absolute;
		top:15px;
		left: 0;
		bottom:auto;
		width: 55%;
		gap:10px;
	}
	
	.adjustment__card:nth-child(n) .adjustment__card-image_gorizont{
		position: absolute;
		height: auto;
		width: 35%;
		right: 0;
		left:auto;
	}
	.adjustment__card:nth-child(1) .adjustment__card-image_gorizont {
		position: absolute;
		height: auto;
		top: 0;
		width: 29%;
		right: 5%;
		left: auto;
		transform: rotate(90deg);
	}
	
	.adjustment__card:nth-child(n + 2) .adjustment__card-image_gorizont {
		top: 50%;
		bottom:auto;
		transform: translateY(-50%)
	}
}

@media (max-width: 568px){
	
	.adjustment__card{
		height: 490px;
	}
	
	.adjustment__content_padding{
		padding-top: 48px;
		padding-bottom: 36px;
	}
	
	
	.adjustment__description_padding{
		padding-top: 48px;
		padding-bottom: 28px;
	}
	
	.adjustment__cards{
		gap:30px;
	}
	
	.adjustment__card:nth-child(1){
		background:
			url("../images/adjustment/bg_1.webp") center center/cover no-repeat;
	}
	.adjustment__card:nth-child(2){
		background:
			url("../images/adjustment/bg_2.webp") center center/cover no-repeat;
	}
	.adjustment__card:nth-child(3){
		background:
			url("../images/adjustment/bg_3.webp") center center/cover no-repeat;
	}
	
	.adjustment__card-content {
		width: 100%;
		height: 30%;
	}
	
	.adjustment__card:nth-child(2) .adjustment__card-content{
		position: absolute;
		top:auto;
		bottom:12px;
	}
	
	.adjustment__card:nth-child(n) .adjustment__card-image_gorizont{
		all:unset;
	}
	
	.adjustment__card:nth-child(odd) .adjustment__card-image {
		position: absolute;
		bottom: 12px;
	}
	
	.adjustment__card:nth-child(2) .adjustment__card-image {
		display: block;
		padding-top:20px;
		margin: auto;
		width: 80%;
	}
	
	
}

@media (max-width: 320px){
	
	.adjustment__card{
		height: 420px;
	}
	
	.adjustment__content_padding{
		padding-top: 40px;
		padding-bottom: 25px;
	}
	
	.adjustment__description_padding{
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	.adjustment__cards{
		gap:20px;
	}
	
	.adjustment__card-content{
		top:10px;
		height: 35%;
		gap:5px;
	}
	
}
