.complex-wrapper{
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

.complex__title{
	margin-bottom: 20px;
}

.complex__list{
	display: grid;
	padding-left: 20px;
	gap: 37px;
	list-style-type: square;
}

.complex__item{
	font-size: 25px;
}


.complex__item::marker{
	color: black;
}


.complex-image{
	position: relative;
	top: -100px;
	left: 30%;
	width: fit-content;
}

@media (width <= 1300px){
	.complex__title{
		margin-bottom: 15px;
	}
	
	.complex__list{
		gap: 30px;
	}
	
	.complex__item{
		font-size: 20px;
	}
	
}


@media (width <= 980px){
	.complex__list{
		gap: 24px;
		
	}
	
	.complex__item{
		font-size: 16px;
	}
	
	.complex-image{
		top: -70px;
		left: 30%;
		width: fit-content;
	}
	
}

@media (width <= 768px){
	.complex__list{
		gap: 24px;
		
	}

	.complex__item{
		font-size: 16px;
	}
	
	.complex-image{
		top: -20px;
		left: 30%;
		width: fit-content;
	}
}


@media(width <= 568px){
	.complex-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		gap: 40px;
	}
	
	.complex__list{
		gap: 20px;
		
	}
	
	.complex__item{
		font-size: 14px;
	}
	
	.complex-image{
		left:0;
		scale:0.9;
	}
}


@media(width <= 320px){
	.complex-image{
		scale:0.8;
	}
}
