.scope-body__content{
	display: grid;
	padding-bottom: 158px;
	gap:30px;
}

@media (width <= 1300px){
	.scope-body__content{
		padding-bottom: 102px;
	}

}

@media (width <= 980px){
	.scope-body__content{
		padding-bottom: 68px;
	}
	
	
}

@media (width <= 768px){
	.scope-body__content{
		padding-bottom: 57px;
	}
	
}

@media (width <= 568px){
	.scope-body__content{
		padding-bottom: 42px;
	}
	
}

@media (width <= 320px){
	.scope-body__content{
		padding-bottom: 30px;
	}
	
}
