.warranty_grid{
	display: grid;
	padding-bottom: 132px;
	gap:178px;
}

.warranty__content{
	display: grid;
	gap:20px;
	grid-template-columns: 1fr 1fr;
}

.order-registration{
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}

.buttons{
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}

.button{
  width: 214px;
	padding: 12px 32px;
	background-color:	var(--color-red);
	color: white;
	text-transform: uppercase;
}

@media (width <= 1300px){
	.warranty_grid{
		padding-bottom: 80px;
		gap:120px;
	}
	
	.button{
		width: 214px;
		padding: 12px 32px;
	}
}

@media (width <= 980px){
	.warranty_grid{
		padding-bottom: 75px;
		gap:85px;
	}

}

@media (width <= 768px){
	.warranty_grid{
		padding-bottom: 60px;
		gap:60px;
	}

	.warranty__content{
		gap:40px;
		grid-template-columns: 1fr;
	}

	.warranty__image{
		order:1;
	}

	.warranty__description{
		order:0;
	}
}

@media (width <= 568px){
	.warranty_grid{
		padding-bottom: 45px;
		gap:55px;
	}
	
	.warranty__content{
		gap:35px;
	}
	
	.buttons{
		gap:15px;
		grid-template-columns: 1fr;
	}
}

@media (width <= 320px){
	.warranty_grid{
		padding-bottom: 30px;
		gap:40px;
	}


}
